# 数据库配置
MARIADB_DATABASE=dbname
MARIADB_USER=dbuser
MARIADB_PASSWORD=your_secure_password_here
MARIADB_ROOT_PASSWORD=your_secure_root_password_here

# PHPMyAdmin 配置
# PMA_HOST=db
# PMA_USER=root
# PMA_PASSWORD=your_secure_root_password_here

# 端口设置
APACHE_PORT=80
APACHE_PORT_SSL=443
MARIADB_PORT=3306
# PHPMYADMIN_PORT=8086

# PHP 配置
PHP_MEMORY_LIMIT=256M
PHP_MAX_EXECUTION_TIME=60
PHP_UPLOAD_MAX_FILESIZE=20M
PHP_POST_MAX_SIZE=20M
PHP_TIMEZONE=Asia/Shanghai