.env

userdata/sql_data/*
userdata/wwwroot/*
userdata/sql_conf/*
userdata/sql_dump/*
userdata/httpd_conf/*.*
userdata/httpd_conf/default/*.*
userdata/httpd_conf/ssl/*
userdata/httpd_conf/vhosts/*
logs/httpd_log/*
logs/sql_log/*

!userdata/sql_data/.gitignore
!userdata/sql_conf/.gitignore
!userdata/sql_dump/.gitignore
!userdata/wwwroot/.gitignore
!userdata/wwwroot/default
!userdata/wwwroot/default/index.php
!userdata/httpd_conf/ssl/.gitignore
!userdata/httpd_conf/vhosts/.gitignore
!userdata/httpd_conf/vhosts/000-default.conf
!userdata/httpd_conf/.gitignore
!logs/httpd_log/.gitignore
!logs/sql_log/.gitignore